<!-- views/error.ejs -->
<html>
<head>
    <title>Erreur</title>
</head>
<body>
    <h1>Une erreur s'est produite</h1>
    <p><%= message %></p>
    <p><%= error.status %></p>
    <pre><%= error.stack %></pre>
</body>
</html>
